@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong> Online Kitap Satış  </strong></h1>
    <br />
    <br />
    <p><image src="/img/kutuphane-iha-2059040.jpg"></image></p>
</div>
