@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>Adres bilgileri girilecek.</h3>
    <h3>Çankaya/Ankara</h3>
    <br />
    <h3>Eposta adresimiz:</h3>
    <h3><a href="mailto:unalmissena89@gmail.com">unalmissena89@gmail.com</a></h3>

</div>

